{% extends 'APYDataGridBundle::blocks.html.twig' %}

{% block grid_column___actions_cell %}
{% spaceless %}
{% set actions = column.getActionsToRender(row) %}
    <ul class="grid-row-actions">
    {% for action in actions %}
    	{% set icon = null %}
    	{% for name, value in action.attributes if name=='row-action' and (value == 'edit' or value == 'delete') %}
    	{% set icon = (value=='edit')?'<i class="icon-edit"></i>':'<i class="icon-remove"></i>' %}
    	{% endfor %}
        <li><a {{ (icon is not null)?'data-toggle="tooltip"':'' }} href="{{ url(action.route, column.routeParameters(row, action), false) }}" target="{{ action.target }}"{% if action.confirm %} onclick="return confirm('{{ action.confirmMessage }}')"{% endif %}{% for name, value in action.attributes %} {{ name }}="{{ value }}" {% endfor %} title="{{ action.title|trans }}">{% autoescape false %}{{ (icon is not null)?icon:action.title|trans }}{% endautoescape %}</a></li>
    {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}

{# ------------------------------------------------------ grid ------------------------------------------------------ #}
{% block grid %}
<div class="grid">
{% if grid.totalCount > 0 or grid.isFiltered or grid.noDataMessage is sameas(false) %}
    <form id="{{ grid.hash }}" action="{{ grid.routeUrl }}" method="post">
        <div class="grid_header">
        {% if grid.massActions|length > 0 %}
            {{ grid_actions(grid) }}
        {% endif %}
        </div>
        <div class="grid_body">
        <table class="table">
        {% if grid.isTitleSectionVisible %}
            <thead>{{ grid_titles(grid) }}</thead>
        {% endif %}
        {% if grid.isFilterSectionVisible and not grid.isExternalFilters %}
            {{ grid_filters(grid) }}
        {% endif %}
        <tbody>
        {{ grid_rows(grid) }}
        </tbody>
        </table>
        </div>
        <div class="grid_footer">
        {% if grid.isPagerSectionVisible %}
            {{ grid_pager(grid) }}
        {% endif %}
        {% if grid.exports|length > 0 %}
            {{ grid_exports(grid) }}
        {% endif %}
        {% if grid.tweaks|length > 0 %}
            {{ grid_tweaks(grid) }}
        {% endif %}
        </div>
        {% if withjs %}
            {{ grid_scripts(grid) }}
        {% endif %}
    </form>
{% else %}
    {{ grid_no_data(grid) }}
{% endif %}
</div>
{% endblock grid %}